<div class="formulario">
    <div class="modalCaja">
        <div class="login">
            <h2>Crear Experiencia</h2>                 
            <div>
                <a routerLink="">
                    <button type="button" class="botonEdit">
                        <i class="fas fa-times"></i>
                    </button>
                </a>
            </div>
        </div>
        <form class="col" [formGroup]="nuevoForm" (ngSubmit)="crearEstudio(nuevoForm.value)">
            <div class="cajaForm">
                <div>
                    <div class="campos">
                        <label for="titulo" class="col-form-label">Titulo</label>
                        <input type="text" class="form-control" formControlName="titulo">
                    </div>
                    <div class="campos">
                        <label for="link" class="col-form-label">Link</label>
                        <input type="text" class="form-control" formControlName="link">
                    </div>
                    <div class="campos">
                        <label for="imagen" class="col-form-label">Imagen</label>
                        <input type="text" class="form-control" formControlName="imagen">
                    </div>
                </div>
                <div>
                    <div class="campos">
                        <label for="fechaInicio" class="col-form-label">Fecha de Inicio</label>
                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" formControlName="fechaInicio">
                    </div>
                    <div class="campos">
                        <label for="fechaFin" class="col-form-label">Fecha de Fin</label>
                        <input type="text" class="form-control" placeholder="dd/mm/yyyy - Presente" formControlName="fechaFin">
                    </div>
                </div>
                <div>
                    <div class="campos">
                        <label for="descripcion" class="col-form-label">Descripción</label>
                        <textarea class="form-control" formControlName="descripcion" cols="30" rows="8"></textarea>
                        <!-- <input type="text" class="form-control" formControlName="descripcion"> -->
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>


