<div id="social" class="social">
    <a href="https://www.instagram.com/diegoromer9/" class="link" target="_blank">
        <i class="fab fa-instagram instagram"></i>
    </a>
    <a href="https://twitter.com/romerodiego356" class="link" target="_blank">
        <i class="fab fa-twitter twitter"></i>
    </a>
    <a href="https://github.com/DDiegoR" class="link" target="_blank">
        <i class="fab fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/diego-eduardo-romero-700253221" class="link" target="_blank">
        <i class="fab fa-linkedin linkedin"></i>
    </a>
</div>
