<div class="formulario">
    <div class="modalCaja">
        <div class="login">
            <h2>Editar registro de {{skill.titulo}}</h2>                 
            <div>
                <a routerLink="">
                    <button type="button" class="botonEdit">
                        <i class="fas fa-times"></i>
                    </button>
                </a>
            </div>
        </div>
        <form class="col" [formGroup]="editForm" (ngSubmit)="editTecno(editForm.value)">
            <div class="cajaForm">
                <div>
                    <div class="campos">
                        <label for="titulo" class="col-form-label">Titulo</label>
                        <input type="text"  formControlName="titulo" class="form-control" [(ngModel)]="skill.titulo">
                    </div>
                    <div class="campos">
                        <label for="porcentaje" class="col-form-label">Porcentaje</label>
                        <input type="text" formControlName="porcentaje" class="form-control" [(ngModel)]="skill.porcentaje">
                    </div>
                    <div class="campos">
                        <label for="imagen" class="col-form-label">Imagen</label>
                        <input type="text" formControlName="imagen" class="form-control" [(ngModel)]="skill.imagen">
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

